Une %VARIABLE_1% de valeur %VALEUR_1%
Une %VARIABLE_2% de valeur %VALEUR_2% et une %VARIABLE_3% de valeur %VALEUR_3%
%minuscule%
%MAJUSCULE%
%00000%
Caractères alphabétique : [a-zA-Z] => %VAR%
Caractères numérique : [0-9] => %1000%
L'arobase : @ => %@PROC%
"é" Commercial : & => %&PROC%
Le "simple" quote : ' => %C'EST%
Le "double" quote : " => %"EXEMPLE"%
Trait d'union : - => %UN-ION%
L'underscore : _ %CO_NU%
Le points : . %QUERY.SEND%
deux points : : => %TEMPLATE:METHODE%
deux points : : => %-----------------------------%
deux points : : => %%TEMPLATE:METHODE%%