<?xml version="1.0" encoding="UTF-8"?>
<!-- Source : https://phpunit.de/manual/6.1/en/appendixes.configuration.html -->
<phpunit>
    <testsuites>
        <testsuite name="suiteName">
            <!-- Tags : directory, file, exclude -->
            <file>tests/tests.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <!-- Tags : whitelist, blacklist with children directory, file, exclude -->
    </filter>

    <logging>
        <!-- Tags : log -->
    </logging>

</phpunit>