<h1>
	DEV DECLARE TEMPLATE MODELE
</h1>


<!-- BEGIN_DECLARE (TEMPLATE) AS TEMPLATE_NAME -->
<div>
	C'est un modèle déclare pour réutilisation ultérieur et répétée : %USER_CONFIG_PANEL%
	
	<ul>
	<!-- BEGIN_BLOCK USERS WITH FAMNAMES -->
		<li>%USER_ID% %USER_NAME% %USER_FAMNAME% %USER_GROUP%</li>
	<!-- END_BLOCK USERS -->
	</ul>
	
</div>
<!-- END_DECLARE TEMPLATE_NAME -->

<!-- USE (TEMPLATE_NAME) -->
<hr />
<!-- USE (TEMPLATE_NAME) -->
<hr />
<!-- USE (TEMPLATE_NAME) -->
<hr />
<!-- USE (TEMPLATE_NAME) -->
<hr />
<!-- USE (TEMPLATE_NAME) -->
<hr />